body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #F6E4E3;
}

#contenedor-header {
    background-color: #F0DEDE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div-h3 {
    background-color: #775653;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
    padding: 20px;
}

.boton-home {
    background-color: #FFF0EF;
    border: none;
    color: #111111;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #111111;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #111111;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #F3F6F9;
    padding: 1rem 0 1rem 1rem;
}

.card-receta-home {
    background-color: #FFF0EF;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.p-categoria {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #775653;
    padding: 1rem 0 1rem 1rem;
}

.p-nombre-receta {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #111111;
    padding: 1rem 0 1rem 0rem;
}
.me-gusta {
        font-weight: 600;
        font-size: 0.8rem;
}

.img-card-receta {
    border-radius: 10px;

}

.div-categ {
    background-color: #F0DEDE;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.boton-card-receta {
    background-color: #775653;
    border-radius: 10px;
    color: #F3F6F9;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
}

.icono-corazon {
    height: 20%;
    width: 20%;
}

/*COMIENZO ESTILOS INGRESAR RECETA*/

.card-ingresar-receta {
    background-color: #FFF0EF;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    h1 {
        font-size: 3rem;
    }

    .p-nombre-receta {
        font-size: 1.9rem;
        padding: 1rem 0 1rem 1rem;
    }

    .div-categ {
        margin-bottom: 1rem;
        padding: 1rem;
    }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .p-categoria {
        padding: 1rem 0 1rem 2.3rem;
    }

    .p-nombre-receta {
        padding: 0;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}